<div class="container">
  <h1>Add to List</h1>
  <p>
    <%= link_to '< Lists', lists_path, class: 'btn-light opacity-25 text-decoration-none' %>
  </p>
  <% if @list.errors.any? %>
    <% @list.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  <% end %>
  <%= render 'lists/form' %>
</div>
